<div class="logo"></div>

<h1>Slide Me</h1>

<h2 class="tk-adelle">An exercise in responsive web design.</h2>

<section class='description'>
  <p>One size no longer fits. The web is a dynamic place and the device chosen should not hinder a user's experience. I build this page to practice </p>
</section>

<ul>
  <li><%= link_to "About me", "http://www.hireDave.me" %></li>
  <li><%= link_to "Twitter", "http://www.twitter.com/hire_dave" %></li>
  <li><%= link_to "Github Repo", "https://github.com/DMWoodall/slide-me" %></li>
  <li><%= link_to "A Good Tutorial", "http://www.lynda.com/CSS-tutorials/Creating-Responsive-Web-Design/110716-2.html" %></li>
</ul>